* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Fuzzy Bubbles', cursive;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    border: 1px solid black;
    padding: 2vh 0;
}
header h1 {
    font-size: 2em;
    font-weight: bold;
    color: darkgrey;
}
header a {
    text-decoration: none;
    font-size: 1.3em;
    color: white;
}
/*Formulario*/
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    width: 40%;
    height: auto;
    margin: 2vh auto;
    padding: 2vh 0;
}
form input, button, h3 {
    width: 50%;
    margin-bottom: 1vh;
    padding: 1.6vh 0;
    font-size: 1.3em;
    text-align: center;
}
form button {
    border: 3px solid lightgreen;
    border-radius: 10px;
    background-color: none;
    opacity: 0.5;
    cursor: pointer;
}
form button:hover {
    background-color: lightgreen;
    opacity: 1;
    transition: all 0.5s;
    color: #ffffff;
}
.cajaInputSexo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inputSexo {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /*falta dar espaciado*/
}
