* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    padding: 2vh 0;
    position: sticky;
    top: 0;
}
header h1 {
    font-size: 2em;
    font-weight: bold;
    color: darkgrey;
}
header a {
    text-decoration: none;
    font-size: 1.3em;
    color: white;
}
header a:hover {
    border-bottom: 1px solid #8b8b8b;
    opacity: 1;
    transition: all 0.5s;
}
h2 {
    text-align: center;
    background-color: grey;
    color: #ffffff;
    border-bottom: 2px solid #000000;
    padding: 1.5vh 0;
}
/*tabla*/
table {
    border: 1px solid black;
    width: 80%;
    margin: 2vh auto;
}
/*Formulario*/
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    width: 40%;
    height: auto;
    margin: 8vh auto 0 auto;
    padding: 2vh 0;
}
form h3 {
    width: 50%;
    text-align: center;
    padding: 1.6vh 0;
    font-size: 1.4em;
}
form input, button {
    width: 50%;
    margin-bottom: 1vh;
    padding: 1.6vh 0;
    font-size: 1.3em;
    text-align: center;
}
form button {
    border: 3px solid lightgreen;
    border-radius: 10px;
    background-color: none;
    opacity: 0.5;
    cursor: pointer;
}
form button:hover {
    background-color: lightgreen;
    opacity: 1;
    transition: all 0.5s;
    color: #ffffff;
}
.cajaInputSexo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
}
.inputSexo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5vh 2vw;
    padding: 1.6vh 0;
    width: 80%;
}
input[type=radio] {
    margin-left: 1vh;
}
/*alerta*/
.alerta {
    border: 1px solid lightgreen;
    background-color: #c8efc8;
    border-radius: 10px;
    width: 30%;
    height: auto;
    margin: 2vh auto;
    padding: 3vh 2vw;
    text-align: center;
    font-weight: bold;
    opacity: 0;
}

/*Footer*/
footer{
    background-color: #5e5e5e;
    padding: 2vh 0;
}
footer h4 {
    text-align: center;
    color: #ffffff;
}
@media (min-width:426px) and (max-width:1000px) {
    form {
        width: 80%;
    }
    form input, button, h3 {
        width: 90%;
    }
    .cajaInputSexo {
        width: 90%;
    }
    .inputSexo label {
        width: 35%;
    }
}
@media (max-width: 425px){
    header {
        flex-direction: column;
    }
    header a {
        padding: 2vh 0;
    }
    h1 {
        font-size: 1em;
    }
    form {
        width: 95%;
    }
    form input, button, h3 {
        width: 90%;
    }
    .cajaInputSexo {
        width: 90%;
    }
    .inputSexo label {
        width: 35%;
    }
}/*ver como achicar barra de navegacion con js - scrool https://www.youtube.com/watch?v=peVc8Gv0870&ab_channel=J%26GProyectosWeb*/